.faq-section {
  padding: 64px 72px;
  align-items: start;
  gap: 64px;
  max-width: 1920px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 70%;
}
.faq-copy {
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.faq-header {
  color: #002029;
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  line-height: normal;
}
.faq-img {
  max-width: 360px;
}
.faq-desc {
  color: #002029;
  font-feature-settings: 'calt' off;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

.faq-qna {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

.accordion {
  z-index: 1000;
}
